@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);


#header2-n H1 {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
}
#header2-n P {
  font-size: 72px;
  text-align: right;
}
#content4-m P {
  text-align: center;
}
#dropdown-menu-19 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-19 .nav .link,
#dropdown-menu-19 .dropdown-item {
  font-size: 0.8em;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-19 .navbar,
#dropdown-menu-19 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-19 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-19 .dropdown-menu a:hover,
#dropdown-menu-19 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-19 .navbar-toggler {
  color: #000000;
}





#testimonials1-x .mbr-section-title {
  text-align: right;
  font-size: 72px;
}
#testimonials1-x .card-block EM {
  font-family: 'Playfair Display', sans-serif;
}
#testimonials1-x .card-footer > div {
  font-family: 'Open Sans', sans-serif;
}
#testimonials1-x .card-block {
  font-size: 16px;
}
#testimonials1-12 .mbr-section-title {
  text-align: right;
  font-size: 30px;
}
#testimonials1-12 .card-block EM {
  font-family: 'Playfair Display', sans-serif;
}
#testimonials1-12 .card-footer > div {
  font-family: 'Open Sans', sans-serif;
}
#testimonials1-12 .card-block {
  font-size: 16px;
}
#dropdown-menu-19 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-19 .nav .link,
#dropdown-menu-19 .dropdown-item {
  font-size: 0.8em;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-19 .navbar,
#dropdown-menu-19 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-19 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-19 .dropdown-menu a:hover,
#dropdown-menu-19 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-19 .navbar-toggler {
  color: #000000;
}



#testimonials1-15 .mbr-section-title {
  text-align: right;
  font-size: 30px;
}
#testimonials1-15 .card-block EM {
  font-family: 'Playfair Display', sans-serif;
}
#testimonials1-15 .card-footer > div {
  font-family: 'Open Sans', sans-serif;
}
#testimonials1-15 .card-block {
  font-size: 16px;
}
#dropdown-menu-19 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-19 .nav .link,
#dropdown-menu-19 .dropdown-item {
  font-size: 0.8em;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-19 .navbar,
#dropdown-menu-19 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-19 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-19 .dropdown-menu a:hover,
#dropdown-menu-19 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-19 .navbar-toggler {
  color: #000000;
}



#testimonials1-17 .mbr-section-title {
  text-align: right;
  font-size: 30px;
}
#testimonials1-17 .card-block EM {
  font-family: 'Playfair Display', sans-serif;
}
#testimonials1-17 .card-footer > div {
  font-family: 'Open Sans', sans-serif;
}
#testimonials1-17 .card-block {
  font-size: 16px;
}
#dropdown-menu-19 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-19 .nav .link,
#dropdown-menu-19 .dropdown-item {
  font-size: 0.8em;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-19 .navbar,
#dropdown-menu-19 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-19 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-19 .dropdown-menu a:hover,
#dropdown-menu-19 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-19 .navbar-toggler {
  color: #000000;
}

#dropdown-menu-19 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-19 .nav .link,
#dropdown-menu-19 .dropdown-item {
  font-size: 0.8em;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-19 .navbar,
#dropdown-menu-19 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-19 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-19 .dropdown-menu a:hover,
#dropdown-menu-19 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-19 .navbar-toggler {
  color: #000000;
}

#dropdown-menu-19 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-19 .nav .link,
#dropdown-menu-19 .dropdown-item {
  font-size: 0.8em;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-19 .navbar,
#dropdown-menu-19 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-19 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-19 .dropdown-menu a:hover,
#dropdown-menu-19 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-19 .navbar-toggler {
  color: #000000;
}
